.device {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  background-color: @bg-main;
}

.device__wrap {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.device__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: @red;

  padding-bottom: 20px;
  padding-top: 40px;
  background-color: @bg-main;
}

@media (min-width: 660px) {
  .device {
    background-color:#ffffff;
    order: 2;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .device__wrap {
    width: 620px;
  }

  .device__legend {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .device fieldset {
    border: 2.0px solid #e5e5e5;
  }
}

@media (min-width: 960px) {
  .device__wrap {
    width: 435px;
  }
}
