.name-list {
  width: 280px;
  margin: 0;
  padding: 0;
}

.name-list__item {
  margin: 0 auto;
  margin-bottom: -3px;
  list-style: none;

  & label {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: @red;

    display: block;
    margin-top: 24px;
    padding-bottom: 3px;
    padding-left: 20px;
  }

  & input {
    width: 280px;
    margin: 0 auto;
    height: 62px;
    padding: 16px;
    border: 2px solid #e5e5e5;

    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: @bg-header;
  }
}

.name-list__item input:hover {
  border: 2px solid @bg-header;
}

.name-list__item input:active {
  border: 2px solid @red;
  outline: none;
}

@media (min-width: 660px) {
  .name-list {
    width: auto;
    padding: 0;
  }

  .name-list__item {
    width: auto;
    display: flex;
    margin-bottom: 52px;

    & label {
      display: inline-block;
      margin-left: 0;
      margin-right: 20px;
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 0;
      padding-left: 0;
    }

    & input {
      flex-grow: 1;
      width: auto;
    }
  }
}

@media (min-width: 960px) {
  .name-list {
    margin-top: 23px;
  }
}
