.price-slider {
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .price-slider {
    overflow: auto;
  }
}

@media (min-width: 960px) {
  .price-slider {
    overflow: auto;
  }
}
