.price-table {
  width: 262%;
  margin-bottom: 20px;
}

.price-table__header {
  min-height: 100px;
  padding: 10px;
  background-color: @bg-header;
}

.price-table__header-head {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  display: block;
}

.price-table__header-price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;

  display: block;
}

.price-table__row {
  td {
    width: 280px;
    padding: 15px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.price-table__data-wrap {
  display: flex;
  justify-content: space-between;
}

.price-table__row-item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: @bg-header;
}

.price-table__row-mark {
  display: inline-block;
  width: 31px;
  height: 21px;
  background: url("../img/icon-yes.svg") no-repeat;
}

.price-table__row-cross {
  display: inline-block;
  width: 27px;
  height: 26px;
  background: url("../img/icon-no.svg") no-repeat;
}
