.download-os {
  width: 215px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  margin: 0 auto;
}

.download-os__item {
  width: 60px;
  height: 60px;
}

.download-os__item--apple a {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/logo-apple.svg) no-repeat;
  background-position: 50% 50%;
}

.download-os__item--android a {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/logo-android.svg) no-repeat;
  background-position: 50% 50%;
}

.download-os__item--microsoft a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/logo-microsoft.svg) no-repeat;
  background-position: 50% 50%;
}
