.main-nav__top {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  background-color: rgba(40, 54, 69, 1);
}

.main-nav__logo {
  display: block;
  width: 80px;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background: url("../img/icon-menu-cross.svg");
  cursor: pointer;
}

.main-nav__toggle:hover,
.main-nav__toggle:focus {
  background: url("../img/icon-menu-cross__hover.svg");
  outline: none;
}

.main-nav__toggle:active {
  background: url("../img/icon-menu-cross__hover.svg");
  opacity: 0.3;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }
}

.main-nav__list li:first-child {
 border-top: 1px solid #000000;
}

@media (min-width: 660px) {
  .main-nav__top {
    width: 660px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .main-nav__logo {
    width: 150px;
    height: 45px;
  }

  .main-nav__toggle {
    margin-top: 17px;
  }
}

@media (min-width: 960px) {
  .main-nav {
    background-color: rgba(40, 54, 69, 0.3);
  }

  .main-nav__container {
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__logo {
    width: 150px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__top {
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .main-nav__list {
    width: 625px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
