.page-head {
  background: url("../img/bg-back-mobile@1x.jpg");
  margin-top: 30px;

  h1 {
    font-family: @font-family;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-align: center;

    margin: 0 auto;
  }
}

.page-head__photo {
  padding: 0 45px;
}

.page-head__form {
  padding: 0 45px;
}

@media (min-width: 660px) {
  .page-head {
    background: none;
    margin-top: 70px;

    h1 {
      font-size: 50px;
    }
  }

  .page-head__photo {
    padding: 0 95px;
  }

  .page-head__form {
    padding: 0 95px;
  }
}

@media (min-width: 1200px) {
  .page-head {
    background: none;
    margin-top: 77px;

    h1 {
      font-size: 50px;
    }
  }

  .page-head__photo {
    padding: 0 400px;
  }

  .page-head__form {
    padding: 0 150px;
  }
}
