.site-list__item {
  .font-nav ();
  box-shadow: 0 1px 0 0 #000000;
  min-height: 64px;
  padding-top: 16px;

  a {
    display: block;
    width: 320px;
    min-height: 48px;
    text-align: center;
    color: #ffffff;
  }
}
