.button-wrap {
  width: 280px;
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sharing-button {
  width: 280px;
  padding: 16px 0;

  border: 3px solid @red;
  border-radius: 30px;
  cursor: pointer;
  outline: none;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #d22856;
}

.sharing-button--cancel {
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
    background-color: @bg-header;
  }
}

.sharing-button--upload {

  &:hover {
    background-color: @red;
    color: #ffffff;
  }
  &:active {
    background-color: @red;
    color: #de6384;
  }
}

@media (min-width: 660px) {
  .button-wrap {
    width: 260px;
    min-height: 140px;
  }

  .sharing-button {
    width: 260px;
  }
}

@media (min-width: 960px) {
  .button-wrap {
    width: 410px;
    min-height: 55px;
    flex-direction: row;
  }

  .sharing-button {
    width: 185px;
  }
}
