.sharing-range {
  min-height: 15px;
  position: relative;
}

.sharing-range__scale {
  width: 240px;
  height: 2px;
  margin: 0 auto;

  background-color: #283645;
}

.sharing-range__toggle {
  width: 14px;
  height: 14px;

  border: 2px solid @red;
  background-color: #f2f2f2;
  border-radius: 50%;

  position: absolute;
  bottom: 7px;
  left: 200px;
}

@media (min-width: 660px) {
  .sharing-range {
    padding-top: 10px;
  }

  .sharing-range__toggle {
    bottom: 4px;
    left: 100px;
  }

  .sharing-range__scale {
    width: 202px;
  }
}


@media (min-width: 960px) {
  .sharing-range {
    padding-top: 20px;
  }

  .sharing-range__scale {
    width: 288px;
  }

  .sharing-range__toggle {
    bottom: 16px;
  }
}
