.footer-develop {
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  span {
    display: inline-block;
    padding-top: 10px;
    padding-right: 15px;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: @bg-header;
  }
}

.footer-develop__logo {
  display: block;
  width: 28px;
  height: 50px;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
}

.footer-develop__logo:hover {
  background: url("../img/logo-htmlacademy__hover.svg") no-repeat;
}

.footer-develop__logo:active {
  opacity: 0.1;
}

@media (min-width: 660px) {
  .footer-develop {
    margin: 0;
    width: 130px;
    margin-top: 10px;

    span {
      font-size: 14px;
      padding-right: 15px;
    }
  }
}

@media (min-width: 960px) {
  .footer-develop {
    margin: 0;
    width: 155px;
    margin-top: 12px;

    span {
      font-size: 18px;
      padding-top: 5px;
    }
  }
}
