.footer-develop {
  width: 130px;
  margin: 0 auto;

  span {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    margin-right: 15px;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #283645;
  }
}

@media (min-width: 660px) {
  .footer-develop {
    margin: 0;
    width: 130px;
    margin-top: 10px;

    span {
      font-size: 14px;
    }
  }
}

@media (min-width: 1200px) {
  .footer-develop {
    margin: 0;
    width: 170px;
    margin-top: 10px;

    span {
      font-size: 18px;
    }
  }
}
