.page-footer {
  width: 320px;
  padding-bottom: 67px;
  padding-top: 40px;
}

.page-footer--none {
  display: none;
}

@media (min-width: 660px) {
  .page-footer--none {
    display: block;
  }

  .page-footer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 35px 20px;
  }
}


@media (min-width: 1200px) {
  .page-footer--none {
    display: block;
  }

  .page-footer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 70px 130px;
  }
}
