.contacts {
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-size: 100%;
  min-height: 620px;
}

.contacts__triangle-bg {
  background: url("../img/bg-triangle-white-footer.svg") 50% 50% no-repeat;
  background-size: 100%;
  min-height: 10vw;
}

@media (min-width: 660px) {
  .contacts {
    background: url("../../../../img/bg-map-tablet@1x.jpg") no-repeat;
    background-size: 100%;
    min-height: 775px;
  }
}

@media (min-width: 960px) {
  .contacts {
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat;
    background-size: 100%;
    min-height: 870px;
  }
}
