.hours {
  display: none;
}

@media (min-width: 660px) {
  .hours {
    display: flex;
    padding: 0 20px;
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: @bg-main;
  }
}

@media (min-width: 1200px) {
  .hours {
    display: flex;
    padding: 0 130px;
    padding-top: 35px;
    padding-bottom: 65px;
    background-color: @bg-main;
  }
}
