.intro-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;

  width: 250px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 47px;
}

@media (min-width: 660px) {
  .intro-text {
    width: 440px;
    padding-top: 95px;
    padding-bottom: 75px;

    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .intro-text {
    width: 580px;
    padding-top: 95px;
    padding-bottom: 85px;

    font-size: 18px;
  }
}
