.panorama {
  position: relative;
}

.panorama__mobile {
  display: block;
  margin: 0 auto;
}

.panorama__desktop,
.panorama__tablet {
  display: none;
}

.panorama__oftheday {
  display: block;
  width: 140px;
  height: 36px;
  background-color: @red;

  position: absolute;
  left: 50%;
  top: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}

@media (min-width: 660px) {
  .panorama__desktop,
  .panorama__mobile {
    display: none;
  }

  .panorama__tablet {
    display: block;
    margin: 0 auto;
  }

  .panorama__oftheday {
    left: 72%;
    top: 11%;
  }
}

@media (min-width: 960px) {
  .panorama__mobile,
  .panorama__tablet {
    display: none;
  }

  .panorama__desktop {
    display: block;
    margin: 0 auto;
  }
}
