.panorama {
  position: relative;
}

.panorama__oftheday {
  display: block;
  width: 140px;
  height: 36px;
  background-color: @red;

  position: absolute;
  left: 50%;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}
