.panorama {
  position: relative;
  margin: 0 auto;
  width: 320px;
  min-height: 140px;
  background: url("../img/panorama-mobile@1x.jpg") no-repeat;
}

.panorama__oftheday {
  display: block;
  width: 140px;
  height: 36px;
  background-color: @red;

  position: absolute;
  left: 50%;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}

@media (min-width: 660px) {
  .panorama {
    width: 660px;
    min-height: 507px;
    background: url("../img/panorama-tablet@1x.jpg") no-repeat;
  }

  .panorama__oftheday {
    left: 77%;
    top: 10%;
  }
}

@media (min-width: 1200px) {
  .panorama {
    width: 1200px;
    min-height: 507px;
    background: url("../img/panorama-desktop@1x.jpg") no-repeat;
  }
}
