.recall {
  margin-top: 40px;
}

.recall__user-name {
  display: block;
  text-align: center;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.recall__user-about {
  display: none;
}

.recall__comment {
  width: 280px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 25px;
  text-align: center;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @bg-header;
}

@media (min-width: 660px) {
  .recall__comment {
    width: 620px;

    font-size: 18px;
    margin-bottom: 35px;
  }

  .recall__user-name {
    font-size: 20px;
  }

  .recall__user-about {
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    color: @bg-header;
  }

  .recall {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .recall__user {
    order: 1;
    margin-bottom: 20px;
  }
}

@media (min-width: 960px) {
  .recall {
    width: 900px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 65px;
  }

  .recall__comment {
    width: 690px;

    font-size: 18px;
    margin-bottom: 37px;
  }

  .recall__user-name {
    font-size: 24px;
  }

  .recall__user-about {
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;

    font-size: 18px;
    font-weight: 400;
    color: @bg-header;
  }

  .recall__user {
    order: 1;
    margin-bottom: 25px;
  }

  .recall__quotes {
    width: 79px;
    height: 63px;
    margin: 0 auto;
    margin-bottom: 38px;
    margin-top: 10px;

    background: url("../img/icon-quotes.svg") no-repeat;
    opacity: 0.1;
  }
}
