.userphotos-list {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.userphotos-list__item {
  list-style: none;
  margin-bottom: 20px;
}

.userphotos-list__photo {
  margin: 0 auto;
  width: 280px;
  min-height: 180px;
}

.userphotos-list__mobile {
  display: block;
}

.userphotos-list__desktop,
.userphotos-list__tablet {
  display: none;
}

.userphotos-list__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #283645;

  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

.userphotos-list__comment-name {
  font-weight: 700;
}

.userphotos-list__comment-time {
  font-weight: 300;
}

.userphotos-list__comment-like {
  font-size: 12px;
  text-transform: uppercase;
  color: @red;
}

.userphotos-list__wrap {
  background-color: @bg-main;
  width: 280px;
  margin: 0 auto;
  padding-top: 18px;
}

.userphotos-list__button-wrap {
  background-color: @bg-main;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .userphotos-list {
    width: 640px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .userphotos-list__item {
    margin-bottom: 20px;
  }

  .userphotos-list__photo {
    width: 300px;
    min-height: 300px;
  }

  .userphotos-list__tablet {
    display: block;
  }

  .userphotos-list__desktop,
  .userphotos-list__mobile {
    display: none;
  }

  .userphotos-list__wrap {
    width: 300px;
    min-height: 125px;
  }

  .userphotos-list__button-wrap {
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 25px;
    padding-bottom: 24px;
    margin-top: -10px;
  }

  .userphotos-list__comment {
    padding: 0 30px;
    padding-top: 5px;
  }
}

@media (min-width: 960px) {
  .userphotos-list {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .userphotos-list__item {
    margin-bottom: 55px;
  }

  .userphotos-list__photo {
    display: block;
    width: 300px;
    min-height: 400px;
  }

  .userphotos-list__desktop {
    display: block;
  }

  .userphotos-list__mobile,
  .userphotos-list__tablet {
    display: none;
  }

  .userphotos-list__wrap {
    width: 300px;
    min-height: 125px;
  }

  .userphotos-list__button-wrap {
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 25px;
    padding-bottom: 24px;
    margin-top: -10px;
  }

  .userphotos-list__comment {
    padding: 0 30px;
    padding-top: 5px;
  }
}
