.userphotos-list {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.userphotos-list__item {
  list-style: none;
  margin-bottom: 22px;
}

.userphotos-list__photo {
  margin: 0 auto;
  width: 280px;
  height: 180px;
  display: block;
}

.userphotos-list__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #283645;

  text-align: left;
  padding-left: 18px;
  padding-right: 15px;
  margin: 0;
}

.userphotos-list__comment-name {
  font-weight: 700;
}

.userphotos-list__comment-time {
  font-weight: 300;
}

.userphotos-list__comment-like {
  font-size: 12px;
  text-transform: uppercase;
  color: @red;
}

.userphotos-list__like-button {
  border: none;
  outline: none;
  background-color: @bg-main;
  cursor: pointer;
  padding-bottom: 0;
  padding-left: 17px;
  padding-right: 14px;
}

.userphotos-list__wrap {
  background-color: @bg-main;
  width: 280px;
  margin: 0 auto;
  padding-top: 18px;
}

.userphotos-list__button-wrap {
  background-color: @bg-main;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .userphotos-list {
    width: 640px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .userphotos-list__item {
    margin-bottom: 25px;
  }

  .userphotos-list__photo {
    width: 300px;
    min-height: 300px;
  }

  .userphotos-list__wrap {
    width: 300px;
    min-height: 125px;
    padding-top: 18px;
  }

  .userphotos-list__button-wrap {
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 25px;
    padding-bottom: 20px;
    margin-top: -12px;
  }

  .userphotos-list__comment {
    padding: 0 28px;
    padding-top: 5px;
  }

  .userphotos-list__like-button {
    padding-right: 9px;
  }
}

@media (min-width: 960px) {
  .userphotos-list {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .userphotos-list__item {
    margin-bottom: 60px;
  }

  .userphotos-list__photo {
    display: block;
    width: 300px;
    min-height: 400px;
  }

  .userphotos-list__comment {
    padding: 0 28px;
    padding-top: 5px;
  }
}
